# Python
__pycache__/
**/__pycache__/
**/*.pyc

# Environments
.env
.venv
venv/
ENV/

# IDE
.vscode/
.idea/

# Trading Bot 
.env
logs/
*.log

# System
.DS_Store
Thumbs.db
*.swp

# Datasets
Datasets/

# Graphics
*.html